language: julia
os:
  - linux
  - osx
julia:
  - 0.5
  - 0.6
  - nightly


env:
  global:
    - PYCALL_DEBUG_BUILD="yes"
  matrix:
    - PYTHON=python  # python 2.7
    - PYTHON=python3 # python 3.5

before_script:
 - pip install --upgrade pip
 - git clone https://github.com/weecology/retriever.git
 - pip install git+https://github.com/weecology/retriever.git
 - pip install -e retriever


script:
 - julia -e 'Pkg.clone(pwd()); Pkg.build("Retriever"); Pkg.test("Retriever"; coverage=true)'

after_success:
  # push coverage results to Coveralls
  - julia -e 'cd(Pkg.dir("Retriever")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("Retriever")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'

notifications:
  email: false
